__pycache__
env/
.env
_old
uploads
.ipynb_checkpoints
*.db
_test
Pipfile

!data/.gitkeep
data/*

node_modules
.chainlit
.files
Backend/VICA/apps/VICA/vica-b11d5-firebase-adminsdk-w4qv7-b2dbe4a9f0.json
