/* src/input.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

@keyframes pulse-eclipse {
  0%, 100% {
    transform: scale(1) skewX(12deg) skewY(6deg);
    opacity: 0.7;
  }
  50% {
    transform: scale(1.5) skewX(24deg) skewY(8deg);
    opacity: 0.8;
  }
}

@keyframes move-eclipse {
  0%, 100% {
    transform: translate(400px, -100px);
  }
  25% {
    transform: translate(300px, 0px);
  }
  50% {
    transform: translate(200px, -150px);
  }
  75% {
    transform: translate(100px, -120px);
  }
}

.animate-pulse {
  animation: pulse-eclipse 24s infinite ease-in-out;
}

.animate-move {
  animation: move-eclipse 62s infinite ease-in-out;
}


.bg-gradient-radial {
  background: radial-gradient(circle, red 10%, transparent 50%);
}


